[submodule "test262"]
	path = test262
	url = https://github.com/tc39/test262
	shallow = true
[submodule "cmake/zig-cmake-toolchain"]
	path = cmake/zig-cmake-toolchain
	url = https://github.com/jcbhmr/zig-cmake-toolchain.git
	branch = v2
	shallow = true
